# Ignore Python virtual environment
venv/


# Cache and compiled files
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Jupyter/IPython checkpoints
.ipynb_checkpoints/

#git config --global user.name "srujan mandala"
#git config --global user.email "mandalasrujan@gmail.com"
g#it remote add origin https://github.com/Srujanmandala/Heart-attack-analysis_EDA.git
